header{
    background-color: #fff;
    position: sticky;
    top: 0;
   z-index: 9999;
    margin-bottom: 100px;
    border-bottom: 1px solid white;
   
}
header:hover{
    border-bottom: 1px solid 
black;
}
.header-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
     margin-left: 80px;
    margin-right: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 500px;
   
}
.nav-list{
    display: flex;
    list-style: none;
 margin-right: 200px;  
}


.nav-item{
    margin-left: 50px;
}
.nav-item:hover {
    border-bottom: 2px solid black;
}
.nav-item-1{
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}
.nav-item-1:hover {
    border-bottom: 2px solid black;
}
.nav-link{
    text-decoration: none;
   font-family: 'Karla';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 15px;
text-align: center;
letter-spacing: 1.5px;
color: #837D88;
}
.nav-link-1{
    text-decoration: none;
  font-family: 'Karla';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 15px;
text-align: center;
letter-spacing: 1.5px;
color: #2C2830;  
}

.site-link{
    text-decoration: none;
    text-align: center;
   font-family: 'Karla';
font-weight: 500;
font-size: 10px;
line-height: 15px;
text-align: center;
letter-spacing: 1.5px;
background: #2C2830;
border: 1.5px solid #2C2830;
color: #FFFFFF;
padding: 5px 10px;

}

